<div class="container">
  <h1>Your lists:</h1>
  <ul class="list-group">
    <% @lists.each do |list| %>
      <li class="list-group-item mb-2"><%= link_to list.name, list_path(list) %></li>
    <% end %>
  </ul>
</div>
