.btn-ghost {
  color: #272727;
  border: 1px solid #272727;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: 8px;
}

.btn-ghost:hover {
  opacity: 1;
  color: #2b2b2b;
}

a {
  text-decoration: none;
  color: black;
}
