.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-bottom: 12px;
  padding-top: 12px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
